Coalition Intelligence Scouting App/Logs/AssetImportWorker0-prev.log
Coalition Intelligence Scouting App/Logs/AssetImportWorker0.log
Coalition Intelligence Scouting App/Logs/Packages-Update.log
Coalition Intelligence Scouting App/Logs/shadercompiler-AssetImportWorker0.log
Coalition Intelligence Scouting App/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Coalition Intelligence Scouting App/Temp/FSTimeGet-f93250bea782f284b81a084fd37609e3
Coalition Intelligence Scouting App/Temp/UnityLockfile
Coalition Intelligence Scouting App/Temp/workerlic
